<!DOCTYPE html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">

        <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='d3/d3.v4.min.js') }}"></script>

        <!-- <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"> -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">

    </head>

    <title>
        Deaths Dashboard
    </title>

    <body>
        <div style="padding-left:5px; padding-right: 5px;"class="container-fluid">
            <nav style="padding-top:0%; padding-bottom: 0%;" class="navbar navbar-expand-lg navbar-light bg-light">
                <span class="navbar-brand">The Annual Global Deaths Dashboard</span>

                <form class="form-inline">
                    <button class="btn btn-sm btn-outline-secondary" type="button" onclick="setToDefault();">Reset Dashboard</button>
                </form>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                      <!-- Navbar dd 1 -->
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_year" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Year
                        </a>
                        <div id="years-dropdown-list" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <!-- <a class="years-dropdown-item dropdown-item"> 2007 </a>
                            <a class="years-dropdown-item dropdown-item"> 2008 </a> -->
                        </div>
                      </li>
                      <!-- Navbar dd 2 -->
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Countries
                        </a>
                        <ul id="countries-dropdown-list" class="dropdown-menu checkbox-menu dropdown-menu-right allow-focus" aria-labelledby="dropdownMenu1">
  
                            <!-- <li >
                              <label>
                                <input type="checkbox"> Cheese
                              </label>
                            </li> -->
                            
                        </ul>
                        <!-- <div id="countries-dropdown-list" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                          
                        </div> -->
                      </li>
                      <!-- Navbar dd 3 -->
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Causes of Death
                        </a>
                        <ul id="causes-dropdown-list" class="dropdown-menu checkbox-menu dropdown-menu-right allow-focus" aria-labelledby="dropdownMenu2">
                        
                        </ul>
                      </li>
                    </ul>
                </div>
            </nav>

            <div class="row" style="height: 250px;">
                <div class="col-md-6" id = "r1c1">
                <!-- <div class="col-lg" id = "r1c1"></div> -->
                    <div id="world_map_div" class="border border-dark">
                        <svg id="world_map" width="" height=""></svg>
                    </div>
                    <!-- <div id="parallel_coordinates" class="col-md-6 border-dark">
                    </div>                     -->
                </div>

                <div class="col-md-6 border-dark" id = "parallel_coordinates">
                    <!-- 2 -->
                </div>

            </div>

            <div class="row" style="height: 250px;">
                <div class="col-md-6 border border-dark" id = "scatterplot">
                </div>                    
                <div class="col-md-6 border border-dark" id = "barplot">
                </div>

            </div>
        
        </div>
        
        <!-- Bootstrap core JavaScript -->
        <!-- <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script> -->
        <!-- <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
        <script src="{{ url_for('static',filename='js/d3-scale-chromatic.v1.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/d3-geo-projection.v2.min.js') }}"></script>

        <!-- Menu Toggle Script -->
        <!-- <script src="{{ url_for('static',filename='js/custom-js/menu.js') }}"></script> -->

        <!-- Map Script -->
        <script src="{{ url_for('static',filename='js/custom-js/map.js') }}"></script>

        <!-- Parallel Coordinates Script -->
        <script src="{{ url_for('static',filename='js/custom-js/parallel.js') }}"></script>

        <!-- Scatterplot Script -->
        <script src="{{ url_for('static',filename='js/custom-js/scatterplot.js') }}"></script>

        <!-- Barplot Script -->
        <script src="{{ url_for('static',filename='js/custom-js/barplot.js') }}"></script>

        <script>
            var all_data = {{ returned_data.all_data | safe }}
            var unique_years = new Set([]);
            var unique_countries = new Set([]);
            var all_causes = Object.keys(all_data[0]).slice(4, 38);
            all_data.forEach(element => {
                unique_countries.add(element["Country"])
            });
            all_data.forEach(element => {
                unique_years.add(element["Year"])
            });
            
            unique_years = Array.from(unique_years).sort();

            // default values
            var selected_countries = new Set(["Albania", "Afghanistan", "Argentina"]);
            var selected_causes = new Set(["Dementia (%)", "Cancers (%)", "Respiratory diseases (%)", "Diabetes (%)"]);
            var year = 2016;
            var colors = ["#FF1493", "#DB7093", "#7B68EE", "#CD5C5C", "#FF0000", "#FFA500", "#FFDAB9", "#7FFF00", "#00FF00", "#00FA9A", "#9ACD32", "#20B2AA", "#00FFFF", "#4682B4", "#0000FF", "#191970", "#BC8F8F", "#A0522D", "#778899"];
            var country_color_dict = {};
            var colors_iterator = 0;

            var data;

            bring_selected_on_top();

            function bring_selected_on_top () {

                // console.log(unique_years);
                unique_years = unique_years.filter( ( el ) => el != year );
                unique_years = [year, ...unique_years.sort()];
                // console.log(unique_years);

                // clear old
                d3.select("#years-dropdown-list")
                    .selectAll("a").remove();

                // Populate years
                d3.select("#years-dropdown-list")
                    .selectAll("a")
                    .data(Array.from(unique_years))
                    .enter()
                    .append("a")
                    .text(function (d) {
                        return d;
                    })
                    .attr("value", function (d) {
                        return d;
                    })
                    .attr("onclick", function (d) {
                        return "get_year_data(" + d + ", 'dropdown')";
                    })
                    .attr("class", "dropdown-item")
                    .attr("id", "years-dropdown-item");

                // populate countries
                var divs_countries = d3.select("#countries-dropdown-list")
                            .selectAll("li")
                            .data(Array.from(unique_countries))
                            .enter()
                            .append("li")
                            .append("label")
                                .text(function (d) { return d; })
                            .append("input")
                                .attr("type", "checkbox");

                var divs_causes = d3.select("#causes-dropdown-list")
                        .selectAll("li")
                        .data(Array.from(all_causes))
                        .enter()
                        .append("li")
                        .append("label")
                            .text(function (d) { return d; })
                        .append("input")
                            .attr("type", "checkbox");
            }
            
            // menu dropdown
            $(document).on('click', '.allow-focus', function (e) {
                e.stopPropagation();
            });

            // for reset button
            setToDefault();

            function setToDefault() {
                // default values
                selected_countries = new Set(["Albania", "Afghanistan", "Argentina"]);
                selected_causes = new Set(["Dementia (%)", "Cancers (%)", "Respiratory diseases (%)", "Diabetes (%)"]);
                year = 2016;

                // call the graphs
                get_year_data(year, "dropdown");

                update_actives();
            }

            function update_actives() {
                // set default active countries and causes
                d3.select("#countries-dropdown-list").selectAll("li")
                    .classed("active", function (d) {
                        var selected_country = d3.select(this).select("label").text()
                        if (selected_countries.has(selected_country)) {
                            d3.select(this).select("input").property('checked', true);
                            if(!(selected_country in country_color_dict)) {
                                country_color_dict[selected_country] = colors[colors_iterator % colors.length];
                                colors_iterator++;
                            }
                            return true;
                        }
                        else {
                            d3.select(this).select("input").property('checked', false);
                            return false;
                        }
                    });
                
                d3.select("#causes-dropdown-list").selectAll("li")
                    .classed("active", function (d) {

                        if (selected_causes.has(d3.select(this).select("label").text())) {
                            d3.select(this).select("input").property('checked', true);
                            return true;
                        }
                        else {
                            d3.select(this).select("input").property('checked', false);
                            return false;
                        }
                    });
            }

            function on_update(update_coming_from) {
                bring_selected_on_top();

                if (update_coming_from == "dropdown") {
                    // 4 graph calls
                    plotMap(data);
                    plotScatterPlot(data);
                    plotBarPlot(data);
                    parallel_plot(data);
                }
                
                else if (update_coming_from == "scatter") {
                    console.log("scatter");
                    plotMap(data);
                    plotBarPlot(data);
                    parallel_plot(data);
                }

                // toggle year on select
                d3.select("#years-dropdown-list").selectAll("a")
                    .classed("active", function (d) {
                        if (d == year)
                            return true;
                        else
                            return false;
                    });
            }

            $(".checkbox-menu").on("change", "input[type='checkbox']", function() {
                
                // change checkbox color
                $(this).closest("li").toggleClass("active", this.checked);

                selected_countries = new Set();
                $.each($("#countries-dropdown-list li label"), function(){
                    if ($(this).children()[0].checked) {
                        var selected_country = $(this).text();
                        selected_countries.add(selected_country);
                        if(!(selected_country in country_color_dict)) {
                            country_color_dict[selected_country] = colors[colors_iterator % colors.length];
                            colors_iterator++;
                        }
                }

                });

                selected_causes = new Set();
                $.each($("#causes-dropdown-list li label"), function(){
                    if ($(this).children()[0].checked)
                        selected_causes.add($(this).text());
                });

                // console.log(selected_countries, selected_causes);
                get_year_data(year, "dropdown");

            });

            function get_year_data(f_year, update_coming_from) {
                // selected_years.add(parseInt(this.text));
                year = f_year;

                var url_string = "/dropdown?years=";
                url_string += f_year

                selected_causes.forEach(element => url_string += "&causes=" + element);
                selected_countries.forEach(element => url_string += "&countries=" + element);

                $.ajax({
                    url: url_string,
                    success: function(response) {
                        data = JSON.parse(response);
                        on_update(update_coming_from);
                    }
                })
            }
        </script>

    </body>

</html>